@page "/"

@using KANTAIM.DAL.Model;
@using MudBlazor
@using static MudBlazor.Icons
@inherits BasePage

<style>
    .title {
        color: #333333;
        text-align: center;
        margin-bottom: 20px;
    }

    .titleProfil {
        color: red;
        text-align: center;
        margin-bottom: 20px;
    }

    .main-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        justify-content: center;
        margin: 5px;
    }

    .button-group {
        display: flex;
        justify-content: space-evenly;
    }


    .footer {
        margin-top: auto;
        padding: 1rem;
    }

    .button-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .bouton {
        width: 120px;
        height: 50px;
        margin: 10px;
        font-size: 16px;
    }
</style>

<div style="display: flex; flex-direction: column; min-height: 85vh;">

    @if (Profils != null)
    {
        <div class="main-content">
            <h3 class="title">Scannez un QR Code svp</h3>

            <MudText>@TextValue</MudText>

            @if (ProfilSelected == null)
            {
                <h3 class="titleProfil">Sélectionner un profil avant de scanner svp</h3>
            }

            <MudSelect T="Profil" @bind-Value="ProfilSelected" Label="Profil" Variant="MudBlazor.Variant.Outlined">
                @foreach (var p in Profils)
                {
                    <MudSelectItem T="Profil" Value="@(p)">@p.Name</MudSelectItem>
                }
            </MudSelect>
        </div>
        @* === Bouton Trouver contenaires vides === *@
        <div class="button-group" style="margin-top: 10px; justify-content: center;">
            <MudButton Class="bouton"
                       Style="width:280px;"
                       Color="Color.Primary"
                       Variant="MudBlazor.Variant.Filled"
                       Href="/FindProductPge/99/0">
                Trouver contenaires vides
            </MudButton>
        </div>
        <!-- Spacer qui pousse le bloc suivant vers le bas -->
        <div style="flex-grow: 1;"></div>

        <!-- Bouton en bas, au-dessus du footer du layout -->
        <div class="d-flex flex-column align-items-center p-2">
            <MudIconButton Icon="@Icons.Material.Filled.LockPerson" OnClick="ShowPwd" Variant="MudBlazor.Variant.Filled" Color="Color.Primary" />
            <MudSpacer></MudSpacer>
            @if (PwdOK)
            {
                <MudToggleGroup T="bool" Style="margin:10px"
                                @bind-Value="DevMode"
                                Outline="true"
                                CheckMark="true"
                                Color="Color.Tertiary">
                    <MudToggleItem Value="@false" Text="Prod" />
                    <MudToggleItem Value="@true" Text="Dev" />
                </MudToggleGroup>
            }
        </div>
    }
    else
    {
        <h3 class="title">Chargement des profils</h3>
    }
</div>

