@page "/StockagePge/{id:int}/{number:int}"
@using KANTAIM.APK.Resources
@using KANTAIM.DAL.Model;
@using MudBlazor
@using static MudBlazor.Icons
@using Microsoft.AspNetCore.Components.Routing
@inject IDialogService DialogService
@inherits BasePage

<style>
    .main-container {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    }

    .selection-container, .display-container {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-bottom: 10px;
    }

    .title {
    color: #333333;
    text-align: center;
    }

    .redtitle {
    color: red;
    text-align: center;
    margin-bottom: 20px;
    }

    .status-display, .status-item {
    color: #555555;
    margin: 6px 0;
    padding: 6px;
    background-color: #f2f2f2;
    border-radius: 10px;
    }

    .button-group {
    display: flex;
    justify-content: space-evenly;
    }

    .fillstatus-container {
    text-align: center;
    }


    .bouton {
    margin: 5px;
    }



</style>
<MudText> @TextValue</MudText>
@switch (State)
{
    case 2 :
        <h3 class="title">
            Svp vider le contenaire et scannez une cellule maintenance
        </h3>
        <div class="button-group">
            <MudButton Color="Color.Error" Variant="MudBlazor.Variant.Filled" OnClick="()=>{MaintenanceBool=false;}">Retour</MudButton>
        </div>
        break;
    case 3: @if (ContainerScanner == null)
        {
            <h3 class="title">
                Svp Scannez le contenaire
            </h3>
        }
        else
        {
            @if (CellScanner.IsJail == true)
            {
                <div class="display-container">

                    <h3 class="title">
                        Prison
                    </h3>
                    <h3 class="redtitle">
                        @CellScanner.Name
                    </h3>
                    <div class="button-group">
                        <MudButton Color="Color.Error" Variant="MudBlazor.Variant.Filled" OnClick="()=>CellScanner=null">Retour</MudButton>
                        <MudButton Color="Color.Success" Variant="MudBlazor.Variant.Filled" OnClick="()=>Exit(2)">Valider</MudButton>
                    </div>
                </div>
            }
            else
            {
                <div class="display-container">

                    <h3 class="title">
                        Rack de stockage choisi
                    </h3>
                    <h3 class="title">
                        @CellScanner.Name
                    </h3>
                    @if (CellScanner.IsMaintenance)
                    {
                        <h3 style="color:red;"> Attention vous choisissez une zone maintenance </h3>
                    }
                    <div class="button-group">
                        <MudButton Color="Color.Error" Variant="MudBlazor.Variant.Filled" OnClick="()=>CellScanner=null">Retour</MudButton>
                        @if (CellScanner.IsMaintenance)
                        {
                            <MudButton Color="Color.Success" Variant="MudBlazor.Variant.Filled" OnClick="()=>{Fillstatus = StatusContainer.Empty;Exit(2); }">Valider</MudButton>
                        }
                        else
                        {
                            <MudButton Color="Color.Success" Variant="MudBlazor.Variant.Filled" OnClick="()=>Exit(2)">Valider</MudButton>
                        }
                    </div>
                </div>
            }
        }
        break;
    case 4 :
        {
            @if (InjectForBac)
            {
                <h3 class="title">Voulez vous sortir le BAC ?</h3>
                <div class="button-group">
                    <MudButton Color="Color.Success" Variant="MudBlazor.Variant.Filled" OnClick="() => SortieBacDirect()">Sortie</MudButton>
                </div>
            }
            else
            {
                @if (Id == 2)
                {
                    <div class="button-group">
                        <MudButton Color="Color.Success" Variant="MudBlazor.Variant.Filled" OnClick="() => Exit(3)">Passage en Direct</MudButton>
                    </div>
                }

                <div class="display-container">
                    @if (CellPropose == null)
                    {
                        <h3 class="title">
                            Il n'y a plus de place,
                            Choisissez une zone fantôme
                        </h3>
                        <MudText> @TextValue</MudText>
                        <div class="button-group">
                            <MudButton Color="Color.Error" Variant="MudBlazor.Variant.Filled" OnClick="() => { Stock = false; ScanPallet = false; Fillstatus = 0; }">Retour</MudButton>
                        </div>
                    }
                    else
                    {
                        <div class="button-group">
                            <MudButton Color="Color.Success" Variant="MudBlazor.Variant.Filled" OnClick="Maintenance">Mise en maintenance</MudButton>
                        </div>

                        <h3 class="title">
                            Stockage proposer en
                        </h3>
                        <h3 class="redtitle">
                            @CellPropose.Name
                        </h3>
                        @if (ScanPallet)
                        {
                            <h3 class="title">Scannez la palette s'il vous plait</h3>
                        }
                        else
                        {
                            <h3 class="title">Scannez la cellule correspondant s'il vous plait</h3>
                        }
                        @if (ContainerScanner.FillStatus != StatusContainer.Empty)
                        {
                            <div class="button-group">

                                <MudButton Color="Color.Error" Variant="MudBlazor.Variant.Filled" OnClick="() => { Stock = false; ScanPallet = false; Fillstatus = 0; }">Retour</MudButton>
                            </div>
                        }
                    }
                </div>
            }
           
        }
       
        break;
    case 0 : 
        @if (ContainerScanner != null)
        {
             @if (InjectForBac)
            {
                <h3 class="title">Bac déjà sur une palette, Voulez vous le sortir ?</h3>
                <div class="button-group">
                    <MudButton Color="Color.Success" Variant="MudBlazor.Variant.Filled" OnClick="() => SortieBacDirect()">Sortie BAC</MudButton>
                </div>

            }
                else
            {
                <div class="display-container">
                    <h3 class="title">Mise en Rack</h3>
                    @if (Id != 4)
                    {
                        <div class="status-display">
                            @if (Product != null)
                            {
                                if (ContainerScanner.Press != null)
                                {
                                    <div class="status-item">Presse: @ContainerScanner.Press.Number - Moule: @ContainerScanner.Press.Shape.Name</div>
                                }
                            }
                            @if(Product != null)
                            {
                               <div class="status-item">Produit: @Product.Name</div> 
                            }
                        
                            @if (ColorOfProduct != null) 
                            {
                                <div class="status-item">Couleur: @ColorOfProduct.Name<MudIcon Icon="@Icons.Material.Filled.Circle" Style="@($"color:{ColorOfProduct.ColorNumber};")" /></div>
                            }

                            @if (IsPallet)
                            {
                                <div class="status-item">Nombre de Bac : @_contenaireService.CountBac(ContainerScanner.Id)
                                    <MudButton @onclick="OpenDialogAsync" Variant="Variant.Filled" Color="Color.Primary">
                                        <MudIcon Icon=@Icons.Material.Filled.RemoveRedEye/>
                                        Afficher
                                    </MudButton>
                                </div>
                            }
                        </div>
                    }
                </div>
                @if (IsPallet)
                {
                    <div class="display-container">
                        <h3 class="title">Scanner d'autres bacs s'il vous plait</h3>
                    </div>
                }


                <div class="display-container">
                    <h3 class="title">Choisissez l'état de remplissage s'il vous plait</h3>
                    <div class="button-group">
                        @if (Id == 1)
                        {
                            <MudButton Color="Color.Success" Variant="MudBlazor.Variant.Filled" OnClick="() => FillstatusSelected(1)">vide</MudButton>
                        }
                        <MudButton Color="Color.Success" Variant="MudBlazor.Variant.Filled" OnClick="() => FillstatusSelected(2)">Semi-Plein</MudButton>
                        <MudButton Color="Color.Success" Variant="MudBlazor.Variant.Filled" OnClick="() => FillstatusSelected(3)">Plein</MudButton>
                    </div>

                </div>
                @if (ContainerScanner.FillStatus != StatusContainer.Empty)
                {
                    <div class="button-group">
                        <MudButton Color="Color.Info" Variant="MudBlazor.Variant.Filled" Href="@($"/TransferPge/{ContainerScanner.Number}")" Match="NavLinkMatch.All">Transfer Contenaire</MudButton>
                    </div>
                }
            }


        }

        break;

}
