@page "/Consultation/TabPress/JourPge"
@using KANTAIM.DAL.Model;
@using KANTAIM.WEB.ViewModels;
@using MudBlazor
@using static MudBlazor.Icons

<MudPaper Style="position:relative; height:91vh; display:flex; flex-direction:column;">
    <MudDrawerContainer Class="mud-height-full">
        <MudDrawer @bind-Open="@open" Fixed="false" Elevation="1" Variant="@DrawerVariant.Mini" OpenMiniOnHover="true">
            <MudNavMenu>
                <MudNavLink Href="/Consultation/TabPress/JourPge" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Today">Toutes les presses / Jour</MudNavLink>
                <MudNavLink Href="/Consultation/TabPress/SemainePge" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.CalendarViewWeek">Tableau Presses / Semaine</MudNavLink>
                <MudNavLink Href="/Consultation/TabPress/TousPressPge" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.CalendarMonth">Tous les Presses / Semaine</MudNavLink>
            </MudNavMenu>
        </MudDrawer>

        <MudGrid>
            <MudItem xs="12" Style="display:flex; justify-content:center; align-items:flex-start; margin-top:20px;">
                <div style="display:flex; flex-direction:row; align-items:center;">
                    <MudDatePicker @ref="_picker" Label="Date" @bind-Date="date" Variant="MudBlazor.Variant.Outlined" Style="margin-right:10px;" Picker="DatePickerType.Week">
                        <PickerActions>
                            <MudButton Class="mr-auto align-self-start" OnClick="@(() => _picker.Clear())">Clear</MudButton>
                            <MudButton OnClick="@(() => _picker.Close(false))">Cancel</MudButton>
                            <MudButton Color="Color.Primary" OnClick="@(() => { _picker.Close(); RefreshData(); })">Ok</MudButton>
                        </PickerActions>
                    </MudDatePicker>

                    <MudButton Variant="MudBlazor.Variant.Filled" Color="Color.Primary" OnClick="RefreshData">Afficher</MudButton>
                </div>
            </MudItem>
        </MudGrid>
        <div class="table-scroll-container">
        <table>
            <thead>
                <tr>
                        <th class="grey-th">Presses / Equipe</th>
                        @foreach (string shift in Shifts)
                        {
                            <th colspan="3" class="grey-th">@shift</th>
                        }
                </tr>
            </thead>
                
            <tbody>


                @if(pressNumber.Count > 1){
                    int i = 0;
                    foreach (string number in pressNumber)
                    {
                            <tr>
                            <th class="orange-th">@number</th>
                            @for(int j = 0; j < 4; j++){
                                    if (Data[i] != null){

                                        if (Data[i][j] != null)
                                        {
                                            <td colspan="1" class="sizeTd">@Data[i][j].Counter.ToString("# ### ### ##0")</td>
                                            <td colspan="1" class="@((Data[i][j].objOK) ? "correct" : "fault")">@Data[i][j].ValueTRS %</td>
                                            @if (!string.IsNullOrWhiteSpace(@Data[i][j].comment))
                                            {
                                                <td class="sizeCommentTdColor">
                                                    <div class="tooltip1">
                                                        C
                                                        <span class="tooltiptext1">@Data[i][j].comment</span>
                                                    </div>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="sizeCommentTd">
                                                    <div class="tooltip1">
                                                    </div>
                                                </td>
                                                // Affichage case vide
                                            }
                                        }
                                        else
                                        {
                                            <td colspan="1" class="sizeTd"></td>
                                            <td colspan="1" class="sizeTd"></td>
                                            <td class="sizeCommentTd"> </td>
                                        }
                                    }
                                    }
                 
                        </tr>

                        i++;
                    }
                }
                    
 
            </tbody>
        </table>

        </div>


        </MudDrawerContainer>

    </MudPaper>




