@page "/Administration/ContainerPge"
@using KANTAIM.DAL.Model;
@using KANTAIM.WEB.ViewModels;

<div class="pageTitle"
    <MudText Typo="Typo.h4">Contenaire</MudText>
</div>

@if (Containers != null)
{
    <MudDataGrid T="ContainerVM" RowClassFunc="RowClassFct" Items="@Containers" Dense=true Hover=true ReadOnly=false EditMode="MudBlazor.DataGridEditMode.Cell"
                 Virtualize="true" SelectOnRowClick=false MultiSelection=true SelectedItemsChanged="SelectionChanged" Bordered=true
                 Filterable="true" SortMode="SortMode.Multiple" Hideable="false" QuickFilter="@_quickFilter">
        <ToolBarContent>
            <MudIconButton Class="editButton" Variant="MudBlazor.Variant.Filled" Icon="@Icons.Material.Filled.Add" OnClick="AddAsync" Color="Color.Primary"></MudIconButton>
            <MudIconButton Class="editButton" Variant="MudBlazor.Variant.Filled" Icon="@Icons.Material.Filled.Save" OnClick="SaveAsync" Color="Color.Primary"></MudIconButton>
            <MudIconButton Class="editButton" Variant="MudBlazor.Variant.Filled" Icon="@Icons.Material.Filled.Delete" OnClick="DeleteAsync" Color="Color.Error"></MudIconButton>
            <MudIconButton Class="editButton" Variant="MudBlazor.Variant.Filled" Icon="@Icons.Material.Filled.Cancel" OnClick="CancelAsync" Color="Color.Primary"></MudIconButton>
            <MudSpacer />
            <MudTextField @bind-Value="_searchString" Placeholder="Recherche Container" Adornment="Adornment.Start" Immediate="true"
                          AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <Columns>
            <SelectColumn ShowInFooter=false />
            <PropertyColumn Property="x => x.Number" Title="Numéro" />
            <PropertyColumn Property="x => x.FillStatus" Title="Remplissage">
                <EditTemplate>
                    <MudSelect T=int @bind-Value="context.Item.FillStatus">
                        @foreach (var f in ContainerStatus)
                        {
                            <MudSelectItem Value="@f.Key">@f.Value</MudSelectItem>
                        }
                    </MudSelect>
                </EditTemplate>
            </PropertyColumn>
            <PropertyColumn Property="x => x.ContainerTypeID" Title="Type">
                <EditTemplate>
                    <MudSelect T=int? @bind-Value="context.Item.ContainerTypeID">
                        @foreach (var f in context.Item.ContainerTypes)
                        {
                            <MudSelectItem T=int? Value="@f.Id">@f.Name</MudSelectItem>
                        }
                    </MudSelect>
                </EditTemplate>
            </PropertyColumn>
            <PropertyColumn Property="x => x.ContainerID" Title="Stocké dans">
                <EditTemplate>
                    <MudSelect T=int? @bind-Value=context.Item.ContainerID>
                        <MudSelectItem T=int? Value="null">None</MudSelectItem>
                        @foreach (var f in context.Item.Containers.OrderBy(s => s.Number))
                        {
                            <MudSelectItem T=int? Value="@f.Id">@f.Number</MudSelectItem>
                        }
                    </MudSelect>
                </EditTemplate>
            </PropertyColumn>

            <PropertyColumn Property="x => x.CellID" Title="Cellule">
                <EditTemplate>
                    <MudSelect T=int? @bind-Value=context.Item.CellID>
                        <MudSelectItem T=int? Value="null">None</MudSelectItem>
                        @foreach (var f in context.Item.Cells)
                        {
                            <MudSelectItem T=int? Value="@f.Id">@f.Name</MudSelectItem>
                        }
                    </MudSelect>
                </EditTemplate>
            </PropertyColumn>
            <PropertyColumn Property="x => x.ActionID" Title="Dernière action" Required=false>
                <EditTemplate>
                    <MudSelect T=int @bind-Value=context.Item.ActionID>
                        @foreach (var f in context.Item.Actions)
                        {
                            <MudSelectItem T=int Value="@f.Id">@f.Name</MudSelectItem>
                        }
                    </MudSelect>
                </EditTemplate>
            </PropertyColumn>
            <PropertyColumn Property="x => x.ProductId" Title="Produit" Required=false>
                <EditTemplate>
                    <MudSelect T=int? @bind-Value=context.Item.ProductId>
                        <MudSelectItem T=int? Value="null">None</MudSelectItem>
                        @foreach (var f in context.Item.Products)
                        {
                            <MudSelectItem T=int? Value="@f.Id">@f.Name</MudSelectItem>
                        }
                    </MudSelect>
                </EditTemplate>
            </PropertyColumn>
            <PropertyColumn Property="x => x.ColorId" Title="Couleur" Required=false>
                <EditTemplate>
                    <MudSelect T=int? @bind-Value=context.Item.ColorId>
                            <MudSelectItem T=int? Value="null">None</MudSelectItem>
                        @foreach (var f in context.Item.Colors)
                        {
                            <MudSelectItem T=int? Value="@f.Id">@f.Name</MudSelectItem>
                        }
                    </MudSelect>
                </EditTemplate>
            </PropertyColumn>
           @*  <PropertyColumn Property="x => x.Status" Title="Status" /> *@
            <PropertyColumn Property="x => x.QRCode" Title="QRCode" Required=false />
           
            <PropertyColumn Property="x => x.InJail" Title="Prison">
                <EditTemplate>
                    <MudCheckBox @bind-Checked=context.Item.InJail />
                </EditTemplate>
            </PropertyColumn>
            <PropertyColumn Property="x => x.InMaintenance" Title="Maintenance">
                <EditTemplate>
                    <MudCheckBox @bind-Checked=context.Item.InMaintenance />
                </EditTemplate>
            </PropertyColumn>
            <PropertyColumn Property="x => x.Comment" Title="Commentaire" Required=false />
        </Columns>
        <PagerContent>
            <MudDataGridPager T="ContainerVM" PageSizeOptions="@(new int[] {14, 30, 50,100})" />
        </PagerContent>
    </MudDataGrid>
}
else
{
    <MudCard>
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="200px" />
        <MudCardContent>
            <MudSkeleton Width="30%" Height="42px;" />
            <MudSkeleton Width="80%" />
            <MudSkeleton Width="100%" />
        </MudCardContent>
        <MudCardActions>
            <MudSkeleton Width="64px" Height="40px" Class="ml-2" />
            <MudSkeleton Width="105px" Height="40px" Class="ml-3" />
        </MudCardActions>
        <MudProgressLinear Color="Color.Default" Indeterminate="true" Class="my-7" />
    </MudCard>
}
