
@page "/Administration/JailPge"
@using KANTAIM.DAL.Model;
@using KANTAIM.WEB.ViewModels;


<style>
    .mud-shrink ~ label.mud-input-label.mud-input-label-inputcontrol, .mud-input:focus-within ~ label.mud-input-label.mud-input-label-inputcontrol {
        transform: translate(0,1.5px) scale(1.0);
    }

    .mud-picker-inline {
        display: flex;
        flex: 1 1 auto;
        position: relative;
        max-width: 350px;
    }

        .mud-picker-inline.mud-picker-input-button .mud-input, .mud-picker-inline.mud-picker-input-button .mud-input .mud-input-root {
            cursor: pointer;
            width: auto;
        }

    .mud-table-container {
        width: 100%;
        overflow-y: clip;
    }

    .custom-disabled-button {
        pointer-events: none;
    }

    .mud-table {
        height: min-content;
        width: 100%;
    }

</style>

<div class="pageTitle">
    <MudText Typo="Typo.h4">Prison Page</MudText>
</div>


@if (Containers != null)
{
    <MudDataGrid Items="@Containers" Dense=true 
                 Virtualize="true" SelectOnRowClick=false MultiSelection=true Bordered=true
                 Filterable="true" SortMode="SortMode.Multiple" Hideable="false" QuickFilter="@_quickFilter">
       
        <Columns>
            <PropertyColumn Property="x => x.container.Number"/>
            <PropertyColumn Property="x => x.container.BigContainer">
                <CellTemplate>
                    @context.Item.container.ContainerType.Name 
                </CellTemplate>
            </PropertyColumn>
            <PropertyColumn Property="x => x.container.FillStatus">
                <CellTemplate>
                    @ContainerStatus[context.Item.container.FillStatus]
                </CellTemplate>
            </PropertyColumn>
            <PropertyColumn Property="x => x.container.CellStock" Title="Cellule">
                <CellTemplate>
                    @context.Item.container.CellStock.Name
                </CellTemplate>
            </PropertyColumn>
            <PropertyColumn Property="x => x.prodTime" Title="Date de Production"/>
            <PropertyColumn Property="x => x.stockTime" Title="Date de Stock en Prison" />
            <TemplateColumn>
                <CellTemplate>
                    <MudStack Row>
                        <MudButton Variant="MudBlazor.Variant.Filled" OnClick="() => OnSortirClicked(context.Item.container)" Color="@Color.Success">Passer</MudButton>
                        <MudButton Variant="MudBlazor.Variant.Filled" OnClick="() => OnViderClicked(context.Item.container)" Color="@Color.Info">Vider</MudButton>
                    </MudStack>
                </CellTemplate>
            </TemplateColumn>


        </Columns>
        <PagerContent>
            <MudDataGridPager T="ContainerWithEvents" PageSizeOptions="@(new int[] {14, 30, 50,100})" />
        </PagerContent>
    </MudDataGrid>
}
else
{
    <MudCard>
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="200px" />
        <MudCardContent>
            <MudSkeleton Width="30%" Height="42px;" />
            <MudSkeleton Width="80%" />
            <MudSkeleton Width="100%" />
        </MudCardContent>
        <MudCardActions>
            <MudSkeleton Width="64px" Height="40px" Class="ml-2" />
            <MudSkeleton Width="105px" Height="40px" Class="ml-3" />
        </MudCardActions>
        <MudProgressLinear Color="Color.Default" Indeterminate="true" Class="my-7" />
    </MudCard>
}