
@page "/Consulation/JailPge"
@using KANTAIM.DAL.Model;
@using KANTAIM.WEB.ViewModels;


<style>
    .mud-shrink ~ label.mud-input-label.mud-input-label-inputcontrol, .mud-input:focus-within ~ label.mud-input-label.mud-input-label-inputcontrol {
        transform: translate(0,1.5px) scale(1.0);
    }

    .mud-picker-inline {
        display: flex;
        flex: 1 1 auto;
        position: relative;
        max-width: 350px;
    }

        .mud-picker-inline.mud-picker-input-button .mud-input, .mud-picker-inline.mud-picker-input-button .mud-input .mud-input-root {
            cursor: pointer;
            width: auto;
        }

    .mud-table-container {
        width: 100%;
        overflow-y: clip;
    }

    .custom-disabled-button {
        pointer-events: none;
    }

    .mud-table {
        height: min-content;
        width: 100%;
    }

</style>
<div>
    <MudText Typo="Typo.h4" style="display: flex; padding: 0 15px;">Prison Page</MudText>
    <div style="flex: 1; display: flex; justify-content: center;">
        <MudButton Variant="MudBlazor.Variant.Outlined" OnClick="TogglePopover" Color="Color.Primary"
                   style="width: 300px; " id="btnPopover">
            List de Contenaires
        </MudButton>
    </div>
</div>

@if (isPopoverOpen)
{
    <div style="position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background: rgba(0, 0, 0, 0.5); z-index: 1000;"
         @onclick="TogglePopover">
        <MudPopover Open="true" Anchor="#btnPopover"
                    AnchorOrigin="Origin.TopCenter"
                    TransformOrigin="Origin.TopCenter"
                    Style="display: flex; justify-content: center; align-items: center;">
            <MudPaper Class="p-4"
                      Style="width: 300px; height: 95vh; max-height: 95vh; display: flex; flex-direction: column;
                             background-color: white; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); overflow-y: auto; margin-top:50px;">

                <MudList Dense Style="flex: 1; overflow-y: auto; margin-top: 10px">
                    @foreach (var contenaire in contenairesNames)
                    {
                        <MudListItem Style="@(selectedContenaire?.Number == contenaire.Number ? "border: 2px solid orange;" : "")"
                                     OnClick="() => SelectContenaire(contenaire)">
                            Contenaire - @contenaire.Number
                        </MudListItem>
                    }
                </MudList>

                <MudButton Variant="MudBlazor.Variant.Filled" Color="Color.Warning"
                           Style="margin-top: 10px; width: 100%;"
                           OnClick="MiseEnPrison">
                    Mise en Prison
                </MudButton>
            </MudPaper>
        </MudPopover>
    </div>
}
@* 

<MudPopover Open="@isPopoverOpen" OnClose="ClosePopover"
            AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter"
            Anchor="#btnPopover">
    <MudPaper Class="p-4"
              Style="width: 300px; max-height: 600px; display: flex; flex-direction: column;
                     background-color: white; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);">
        <MudList Dense Style="flex: 1; overflow-y: auto; max-height: 500px;">
            @foreach (var contenaire in contenairesNames)
            {
                <MudListItem Style="@(selectedContenaire?.Number == contenaire.Number ? "border: 2px solid orange;" : "")"
                             OnClick="() => SelectContenaire(contenaire)">
                    Contenaire - @contenaire.Number
                </MudListItem>
            }
        </MudList>

        <MudButton Variant="MudBlazor.Variant.Filled" Color="Color.Warning"
                   Style="margin-top: 10px; width: 100%;"
                   OnClick="MiseEnPrison">
            Mise en Prison
        </MudButton>
    </MudPaper>
</MudPopover>
 *@

@if (Containers != null)
{
    <MudDataGrid Items="@Containers" Dense=true 
                 Virtualize="true" SelectOnRowClick=false MultiSelection=true Bordered=true
                 Filterable="true" SortMode="SortMode.Multiple" Hideable="false" QuickFilter="@_quickFilter">
       
        <Columns>
            <PropertyColumn Property="x => x.container.Number" Title="Numéro" />
            <PropertyColumn Property="x => x.container.BigContainer" Title="Type de contenaire">
                <CellTemplate>
                    @context.Item.container.ContainerType.Name 
                </CellTemplate>
            </PropertyColumn>
                    <PropertyColumn Property="x => x.container.FillStatus" Title="Remplissage">
                <CellTemplate>
                    @ContainerStatus[context.Item.container.FillStatus]
                </CellTemplate>
            </PropertyColumn>
            <PropertyColumn Property="x => x.container.CellStock" Title="Cellule">
                <CellTemplate>
                    @context.Item.container.CellStock.Name
                </CellTemplate>
            </PropertyColumn>
            <PropertyColumn Property="x => x.prodTime" Title="Date de Production"/>
            <PropertyColumn Property="x => x.stockTime" Title="Date de Stock en Prison" />
            <TemplateColumn>
                <CellTemplate>
                    <MudStack Row>
                        <MudButton Variant="MudBlazor.Variant.Filled" OnClick="() => OnSortirClicked(context.Item.container)" Color="@Color.Success">Valider</MudButton>
                        <MudButton Variant="MudBlazor.Variant.Filled" OnClick="() => OnViderClicked(context.Item.container)" Color="@Color.Error">Vider</MudButton>
                    </MudStack>
                </CellTemplate>
            </TemplateColumn>


        </Columns>
        <PagerContent>
            <MudDataGridPager T="ContainerWithEvents" PageSizeOptions="@(new int[] {14, 30, 50,100})" />
        </PagerContent>
    </MudDataGrid>
}
else
{
    <MudCard>
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="200px" />
        <MudCardContent>
            <MudSkeleton Width="30%" Height="42px;" />
            <MudSkeleton Width="80%" />
            <MudSkeleton Width="100%" />
        </MudCardContent>
        <MudCardActions>
            <MudSkeleton Width="64px" Height="40px" Class="ml-2" />
            <MudSkeleton Width="105px" Height="40px" Class="ml-3" />
        </MudCardActions>
        <MudProgressLinear Color="Color.Default" Indeterminate="true" Class="my-7" />
    </MudCard>
}