@page "/FindProductPge/{id:int}/{number:int}"
@layout PhoneLayout
@using KANTAIM.DAL.Model;
@using KANTAIM.WEB.ViewModels;
@using MudBlazor
@using static MudBlazor.Icons
@using Microsoft.AspNetCore.Components.Routing

<h1>Recherche le produit</h1>


    @if (cellPropose != null)
    {
        <div class="display-container">
            <div class="display-container">
        <h3 class="title">Cellule proposée: @cellPropose.Name</h3>
                <div>
                    @* <MudTextField @bind-Value="ContainerValue" AutoFocus="true" Variant="MudBlazor.Variant.Text" Immediate="true" OnKeyPress="ContainerScan"></MudTextField> *@
                    <MudButton Class="bouton" OnClick="ToggleCellList" Variant="MudBlazor.Variant.Filled" >
                        @(ShowAllCells ? "Masquer" : "Afficher autres contenaires")
                    </MudButton>
                </div>
                <h3>Scannez le contenaire s'il vous plaît</h3>
                <MudText> @TextValue</MudText>
            </div>
        </div>
    }
    else if (cells != null && cells.Count == 0)
    {
        <div class="display-container">
            <h3 class="title">
            Il n'y a pas <b>@ProductScanner.Name</b> en
            @if (ColorChoose != null)
            {
                <b style="@($"color:{ColorChoose.Name};")">@ColorChoose.Name</b>
            }

            stocké dans la cellule
        </h3>
        </div>
    }

    @if (cells != null && cells.Count > 0)
    {
        <div class="display-container">
        @if (ShowAllCells)
        {
            
                @foreach (var cellLog in cells)
                {
                    <div class="status-item">
                        Cellule: @cellLog.Cell.Name (Stockée le: @cellLog.EventTime)
                    </div>
                }
           
        }
        </div>
    }

    @if (cells == null)
    {
        <div class="display-container">
        <div class="status-display">
            <div class="status-item">
                <br>Produit : @ProductScanner.Name
            </div>
        </div>
        <h3 class="title">Choisissez la couleur s'il vous plaît</h3>
        </div>
        @if (Colors != null)
        {
            @foreach (var color in Colors)
            {
                <div class="colors-container">
                    <MudButton Class="bouton" Style="@($"background: {color.ColorNumber};")" OnClick="() => ColorSelected(color.Id)" Variant="MudBlazor.Variant.Filled">
                        @color.Name
                    </MudButton>
                </div>
            }
        }
        
    <div class="button-group">
            <MudButton Class="bouton" OnClick="GoBack" Color="Color.Error" Variant="MudBlazor.Variant.Filled">Retour</MudButton>
        </div>
    }

<style>
    .main-container {
        padding: 10px;
        font-family: 'Roboto', sans-serif;
    }

    .selection-container, .display-container {
        background-color: #FFFFFF;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        padding: 20px;
        margin-bottom: 10px;
    }

    .title {
        text-align: center;
        margin-bottom: 20px;
    }

    .status-display, .status-item {
        color: #555555;
        margin: 5px 0;
        padding: 5px;
        background-color: #f2f2f2;
        border-radius: 5px;
    }

    .button-group {
        display: flex;
        justify-content: space-evenly;
    }

    .fillstatus-container {
        text-align: center;
    }


    .bouton {
        width: 120px;
        height: 50px;
        margin: 5px;
        font-size: 16px;
    }

    .colors-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 3x;
        padding: 5px; /* Padding inside the tree view */
        /* Add margin to the bottom to prevent overlap with action buttons */
        overflow-y: auto; /* Enable vertical scroll */
        max-height: 150px;
        width: 100%;
    }
</style>
