@page "/FindProductPge/{id:int}/{number:int}"
@layout PhoneLayout
@using KANTAIM.DAL.Model;
@using KANTAIM.WEB.ViewModels;
@using MudBlazor
@using static MudBlazor.Icons
@using Microsoft.AspNetCore.Components.Routing

<div class="pageTitle">
    <MudText Typo="Typo.h4">Recherche le produit dans une cellule</MudText>
</div>
<style>
    .bouton {
        width: 120px;
        height: 50px;
        margin: 10px;
        font-size: 16px;
    }

</style>
<div style="height: calc(100vh - 130px); display: flex; flex-direction: column; justify-content: center; align-items: center;">
    @if (cellPropose != null)
    {
        <h3 class="title">Cellule proposée: @cellPropose.Name</h3>
        <div>
            <MudTextField @bind-Value="ContainerValue" AutoFocus="true" Variant="MudBlazor.Variant.Text" Immediate="true" OnKeyPress="ContainerScan"></MudTextField>
        <MudButton Class="bouton" OnClick="ToggleCellList" Variant="MudBlazor.Variant.Filled" Style="margin-top: 20px;">
            @(ShowAllCells ? "Masquer" : "Afficher")
        </MudButton>
        </div>
    }
    else if (cells != null && cells.Count == 0)
    {
        <div>
            Il n'y a pas <b>@ProductScanner.Name</b> en
            @if (ColorChoose != null)
            {
                <b style="@($"color:{ColorChoose.Name};")">@ColorChoose.Name</b>
            }
            stocké dans la cellule
        </div>
    }

    @if (cells != null && cells.Count > 0)
    {
        @if (ShowAllCells)
        {
            <div>
                @foreach (var cellLog in cells)
                {
                    <h3 class="title">Cellule: @cellLog.Cell.Name (Stockée le: @cellLog.EventTime)</h3>
                }
            </div>
        }
    }

    @if (cells == null)
    {
        <div>
            <p>DEBUG: Cells are null.</p>
            <br>Produit : @ProductScanner.Name
            <br>Choisissez la couleur s'il vous plait
            <br>
            @if (Colors != null)
            {
                @foreach (var color in Colors)
                {
                    <MudButton Class="bouton" Style="@($"background: {color.ColorNumber};")" OnClick="() => ColorSelected(color.Id)" Variant="MudBlazor.Variant.Filled">
                        @color.Name
                    </MudButton>
                }
            }
        </div>
        <MudButton Class="bouton" OnClick="GoBack" Color="Color.Error" Variant="MudBlazor.Variant.Filled">Retour</MudButton>
    }
</div>

