@page "/InitialisationPge/{id:int}/{number:int}"
@layout PhoneLayout
@using KANTAIM.DAL.Model;
@using KANTAIM.WEB.ViewModels;
@using MudBlazor
@using static MudBlazor.Icons
@using Microsoft.AspNetCore.Components.Routing

<h1 class="pageTitle">Initialisation Page</h1>

<style>
    .main-container {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .pageTitle {
        text-align: center;
        margin-bottom: 20px;
    }

    .content {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-y: auto;
    }

    .button-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .bouton {
        width: 120px;
        height: 50px;
        margin: 10px;
        font-size: 16px;
    }

    .colors-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 10px;
    }

    .text-container {
        text-align: center;
        margin: 20px 0;
    }
</style>

<div class="main-container">
    @if (ContainerScanner != null && PressScanner == null)
    {
        <div class="button-container">
            <MudButton Color="Color.Secondary" Variant="MudBlazor.Variant.Filled" Href="@($"/StockagePge/1/{ContainerScanner.Number}")" Match="NavLinkMatch.All">Déplacement Contenaire</MudButton>
        </div>
    }

    @switch (State)
    {
        case 0: //Scan du contenaire
            <div class="text-container">
                <h2>Scanner le contenaire s'il vous plait</h2>
                <MudText> @TextValue</MudText>
                </div>
            break;

        case 1: //Scan la palette
            <div class="text-container">
                <h2>Scanner la palette s'il vous plait</h2>
                <MudText> @TextValue</MudText>
                </div>
            break;

        case 2: //Scan de la presse
            <div class="text-container">
                <h2>Scanner la presse s'il vous plait</h2>
                <MudText> @TextValue</MudText>
                </div>
            break;

        case 3: //Selection de la couleur
            <div class="content">
                <div class="text-container">
                    Moule : @PressScanner.Shape.Name
                    <br>Produit : @PressScanner.Shape.Product.Name
                </div>

                @if (Colors != null && Colors.Count() != 0)
                {
                    <div class="text-container">
                        <br> Choisissez la couleur s'il vous plait
                    </div>
                    <div class="colors-container">
                        @foreach (var c in Colors)
                        {
                            <MudButton Class="bouton" Style="@($"background:{c.ColorNumber};")" OnClick="()=>ColorSelected(c.Id)" Variant="MudBlazor.Variant.Filled">
                                @c.Name
                            </MudButton>
                        }
                    </div>
                }
            </div>
            <div class="button-container">
                <MudButton Class="bouton" OnClick="() => GoBack(1)" Color="Color.Error" Variant="MudBlazor.Variant.Filled">Retour</MudButton>
            </div>
            break;

        case 4: // Validation
            <div class="content">
                <h1>En cours de remplissage...</h1>
                <div class="text-container">
                    @if (PressScanner != null)
                    {
                        <div>
                            Presse: @PressScanner.Number
                            <br>
                            Moule : @PressScanner.Shape.Name
                            <br>Produit : @PressScanner.Shape.Product.Name
                        </div>
                    }
                    @if (MachineScanner != null)
                    {
                        <div>
                            Machine : @MachineScanner.Name
                            <br>Produit : @MachineScanner.Product.Name
                        </div>
                    }
                    @if (ColorChoose != null)
                    {
                        <div>
                            <br>Couleur: @ColorChoose.Name
                            <MudIcon Icon="@Icons.Material.Filled.Circle" Style="@($"color:{ColorChoose.ColorNumber};")" />
                        </div>
                    }
                    <br>Contenaire : @ContainerScanner.Number
                </div>
            </div>
            <div class="button-container">
                <MudButton Class="bouton" OnClick="() => GoBack(2)" Color="Color.Error" Variant="MudBlazor.Variant.Filled">Retour</MudButton>
                <MudButton Class="bouton" OnClick="() => SaveLog()" Color="Color.Success" Variant="MudBlazor.Variant.Filled">Valider</MudButton>
            </div>
            break;
    }
</div>
