@page "/InjectPge/{id:int}/{number:int}"
@layout PhoneLayout
@using KANTAIM.DAL.Model;
@using KANTAIM.WEB.ViewModels;
@using MudBlazor
@using static MudBlazor.Icons
@using Microsoft.AspNetCore.Components.Routing

<h3>Mise en Machine</h3>

<style>



    .main-container {
        padding: 10px;
        font-family: 'Roboto', sans-serif;
    }

    .selection-container, .display-container {
        background-color: #FFFFFF;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        padding: 20px;
        margin-bottom: 20px;
    }

    .title {
        color: #333333;
        text-align: center;
        margin-bottom: 20px;
    }

    .redtitle {
        color: red;
        text-align: center;
        margin-bottom: 20px;
    }

    .status-display, .status-item {
        color: #555555;
        margin: 10px 0;
        padding: 10px;
        background-color: #f2f2f2;
        border-radius: 10px;
    }

    .button-group {
        display: flex;
        justify-content: space-evenly;
    }

    .fillstatus-container {
        text-align: center;
    }


    .bouton {
        margin: 5px;
    }

</style>


@switch (State)
{
    case 1 :
        <div class="display-container">
            <h3 class="title">Produit bien mis en machine</h3>
        </div>
        break;

    case 2 : 
        @if (ContainerScanner.ContainerType.Name == "bac")
        {
            <div class="button-group">
                <MudButton Color="Color.Secondary" Variant="MudBlazor.Variant.Filled" Href="@($"/StockagePge/3/{ContainerScanner.Number}")" Match="NavLinkMatch.All">Déplacement contenaire</MudButton>
            </div>
        }

        <div class="display-container">
            <h3 class="title">Scannez la machine svp</h3>
            <MudText> @TextValue</MudText>
            @* <div>
                <MudTextField @bind-Value="MachineValue" AutoFocus="true" Label="Standard" Variant="MudBlazor.Variant.Text" Immediate="true" ></MudTextField>
            </div> *@
        </div>
        break;
    case 3 :
        <div class="display-container">
            <h3 class="title">Scannez la contenaire svp</h3>
            <MudText> @TextValue</MudText>
            @* <div>
                <MudTextField @bind-Value="ContainerValue" AutoFocus="true" Label="Standard" Variant="MudBlazor.Variant.Text" Immediate="true"></MudTextField>
            </div> *@
        </div>
        break;

    case 4 :
        <div class="display-container">
            <h3 class="title">Vérifier informations</h3>

            <div class="status-display">
                <div class="status-item">Produit: @product.Name</div>
                @if (prodColor != null)
                {
                    <div class="status-item">Couleur: @prodColor.Name</div>
                    <MudIcon Icon="@Icons.Material.Filled.Circle" Style="@($"color:{prodColor.ColorNumber};")" />
                }

                <div class="status-item">Contenaire: @ContainerScanner.Number</div>
                <div class="status-item">Machine: @MachineScanner.Name</div>
            </div>

            <div class="button-group">
                <MudButton Color="Color.Error" Variant="MudBlazor.Variant.Filled" OnClick="returnAction">Retour</MudButton>
                <MudButton Color="Color.Success" Variant="MudBlazor.Variant.Filled" OnClick="Inject">Valider</MudButton>
            </div>
        </div>
        break;
}
@* @if (inject)
{
    <div class="display-container">
    <h3 class="title">Produit bien mis en machine</h3>
    </div>
}
else
{
    @if (MachineScanner == null)
    {
        @if (ContainerScanner.ContainerType.Name == "bac")
        {
            <div class="button-group">
                <MudButton Color="Color.Secondary" Variant="MudBlazor.Variant.Filled" Href="@($"/StockagePge/3/{ContainerScanner.Number}")" Match="NavLinkMatch.All">Déplacement contenaire</MudButton>
            </div>
        }
        
        <div class="display-container">
        <h3 class="title">Scannez la machine svp</h3>
        <div>
            <MudTextField @bind-Value="MachineValue" AutoFocus="true" Label="Standard" Variant="MudBlazor.Variant.Text" Immediate="true" OnKeyPress="machineScan"></MudTextField>
        </div>
        </div>
    } else
    {
        @if (ContainerScanner == null )
        {
            <div class="display-container">
                <h3 class="title">Scannez la contenaire svp</h3>
                <div>
                    <MudTextField @bind-Value="ContainerValue" AutoFocus="true" Label="Standard" Variant="MudBlazor.Variant.Text" Immediate="true" OnKeyPress="contenaireScan"></MudTextField>
                </div>
            </div>
        } else
        {
            <div class="display-container">
                <h3 class="title">Vérifier informations</h3>

                <div class="status-display">
                    <div class="status-item">Produit: @product.Name</div>
                    @if (prodColor != null)
                    {
                        <div class="status-item">Couleur: @prodColor.Name</div>
                        <MudIcon Icon="@Icons.Material.Filled.Circle" Style="@($"color:{prodColor.ColorNumber};")" />
                    }

                    <div class="status-item">Contenaire: @ContainerScanner.Number</div>
                    <div class="status-item">Machine: @MachineScanner.Name</div>
                </div>

                <div class="button-group">
                    <MudButton Color="Color.Error" Variant="MudBlazor.Variant.Filled" OnClick="returnAction">Retour</MudButton>
                    <MudButton Color="Color.Success" Variant="MudBlazor.Variant.Filled" OnClick="Inject">Valider</MudButton>
                </div>
            </div>
        }
        
    }
    
}
 *@
