@inherits LayoutComponentBase
<style>
    .mud-main-content {
        padding-top: 10px;
    }

    .editButton {
        margin: 5px;
    }

    .mud-table-cell {
        padding: 1px 1px; /* vertical, horizontal */
    }

    .appBarButton .button .mud-button-label {
        height: 50px;
        font-size: 25px;
        font-weight: bold;
    }

    .appBarLogo .mud-icon-size-medium {
        height: 40px;
        width: 40px;
    }
</style>
<AuthorizeView>
    <PageTitle>KANTAIM.WEB</PageTitle>

    <MudThemeProvider Theme="BicTheme" />
    <MudDialogProvider />
    <MudSnackbarProvider />
    @if (_userService.CurrentUserLvl > 0)
    {
        <MudLayout>
            <MudAppBar Fixed="false" Elevation="0" DisableGutters="true" Class="muudstrap-navbar">

                    @*<MudPaper Height="36px" Width="36px" Elevation="0" Class="pa-1 rounded-lg d-flex justify-center align-center mud-theme-primary logo">
                        <img src="./css/LogoBic.png" height="40px" />
                    </MudPaper>*@
                <MudImage Src="./css/LogoBic.png" Width="120" Style="margin-left:10px;cursor: pointer;" alt="Bouton" @onclick="NavigateToHome" />

                <MudText Typo="Typo.h4" Class="ml-4 mr-12 pt-1 pb-2" Style="font-weight:bold" @onclick="@(()=>NavigateToImg(context.User.Identity?.Name.ToLower().ToString()))">KANTAIM</MudText>
                @*Home*@
                <MudButton Color="Color.Inherit" Link="/" StartIcon="@Icons.Material.Filled.Home" Class="appBarButton appBarLogo"
                         Style="--mud-typography-button-size:25px;--mud-typography-button-weight : bold;">Home</MudButton>
                @*Scada*@
                <MudButton Color="Color.Inherit" Link="/Scada/ScadaPge" StartIcon="@Icons.Material.Filled.Computer" Class="appBarButton appBarLogo"
                           Style="--mud-typography-button-size:25px;--mud-typography-button-weight : bold;">Scada</MudButton>
                @*Prod*@
                <MudMenu Color="Color.Inherit" Label="Données de production" StartIcon="@Icons.Material.Filled.Factory" EndIcon="@Icons.Material.Filled.ArrowDropDown" Class="appBarButton appBarLogo"
                         Style="--mud-typography-button-size:20px;--mud-typography-button-weight : bold;"
                         AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight" FullWidth="true">
                    <MudMenuItem Link="/Production/DataProdPge">Edition données de production</MudMenuItem>
                    <MudMenuItem Link="/Production/VisualisationDataProdPge">Visualisation/Commentaire Production</MudMenuItem>
                </MudMenu>
                @*Consultation*@
                <MudMenu Color="Color.Inherit" Label="Consultation" StartIcon="@Icons.Material.Filled.FindInPage" EndIcon="@Icons.Material.Filled.ArrowDropDown" Class="appBarButton appBarLogo"
                         Style="--mud-typography-button-size:20px;--mud-typography-button-weight : bold;"
                         AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight" FullWidth="true">
                    <MudMenuItem Link="/Consultation/LogPge">Historique action</MudMenuItem>
                    <MudMenuItem Link="/Consulation/StoragePge">Stockage des produits</MudMenuItem>
                    <MudMenuItem Link="/Consultation/FindPge">Produit dans cellule</MudMenuItem>
                    <MudMenuItem Link="/Consulation/JailPge">Contenaires dans Prison</MudMenuItem>
                    <MudMenuItem Link="/Consultation/MaintenancePge">Contenaires dans Maintenance</MudMenuItem>
                    <MudMenuItem Link="/Consultation/TabPress/JourPge">Tableau récapitulatif des presses</MudMenuItem>
                    <MudMenuItem Link="/Consultation/GraphicTRSPress/JourPge">Graphique TRS des presses</MudMenuItem>
                    <MudMenuItem Link="/Consultation/GraphicTRSProd/JourPge">Graphique TRS des produits</MudMenuItem>
                    <MudNavGroup Title="Rapport PowerBI" Expanded="true">
                        <MudNavLink Href="/Consultation/PowerBI/IntegrerPge">Rapport Intégré</MudNavLink>
                        <MudNavLink Href="https://app.powerbi.com/links/a4oipgvg7d?ctid=c7901014-5560-49ef-a689-3c215c6092ee&pbi_source=linkShare">Lien Externe</MudNavLink>
                    </MudNavGroup>
                </MudMenu>
                @*Administration*@
                <MudMenu Color="Color.Inherit" Label="Administration" StartIcon="@Icons.Material.Filled.Settings" EndIcon="@Icons.Material.Filled.ArrowDropDown" Class="appBarButton appBarLogo"
                         Style="--mud-typography-button-size:20px;--mud-typography-button-weight : bold;"
                         AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight" FullWidth="true">

                         <MudNavGroup Title="Gestion des Cellules" Expanded="false" Style="font-size : 15">
                            <MudMenuItem @onclick="@(()=>NavigateToAuthorizedPage("/Administration/RackPge",20))">Racks</MudMenuItem>
                            <MudMenuItem @onclick="@(()=>NavigateToAuthorizedPage("/Administration/CellPge",20))">Cellules</MudMenuItem>
                            <MudMenuItem @onclick="@(()=>NavigateToAuthorizedPage("/Administration/CellProductPge",20))">Cellules & Produits</MudMenuItem>
                         </MudNavGroup>

                    <MudNavGroup Title="Gestion des Machines/Atelier" Expanded="false" Style="font-size : 15">
                            <MudMenuItem @onclick="@(()=>NavigateToAuthorizedPage("/Administration/WorkshopPge",20))">Ateliers/Presses</MudMenuItem>
                            <MudMenuItem @onclick="@(()=>NavigateToAuthorizedPage("/Administration/ShapePge",20))">Moules</MudMenuItem>
                            <MudMenuItem @onclick="@(()=>NavigateToAuthorizedPage("/Administration/MachineAsemblagePge",20))">Machines Asemblages</MudMenuItem>
                         </MudNavGroup>

                    <MudNavGroup Title="Gestion des Produits" Expanded="false" Style="font-size : 15">
                            <MudMenuItem @onclick="@(()=>NavigateToAuthorizedPage("/Administration/ProductFamilyPge",20))">Produits</MudMenuItem>
                            <MudMenuItem @onclick="@(()=>NavigateToAuthorizedPage("/Administration/ColorProductPge",20))">Couleurs & Produits</MudMenuItem>
                         </MudNavGroup>

                    <MudNavGroup Title="Gestion des Contenaires" Expanded="false" Style="font-size : 15">
                            <MudMenuItem @onclick="@(()=>NavigateToAuthorizedPage("/Administration/ContainerPge",20))">Contenaires</MudMenuItem>
                        <MudMenuItem @onclick="@(()=>NavigateToAuthorizedPage("/Administration/TypeContenairePge",20))">Type de contenaire</MudMenuItem>

                        </MudNavGroup>
                    <MudMenuItem @onclick="@(()=>NavigateToAuthorizedPage("/Administration/ShiftPge",20))">Shifts</MudMenuItem>
                    <MudMenuItem @onclick="@(()=>NavigateToAuthorizedPage("/Administration/ActionPge",20))">Actions</MudMenuItem>
                    <MudMenuItem @onclick="@(()=>NavigateToAuthorizedPage("/Administration/ColorPge",20))">Couleurs</MudMenuItem>
                    <MudMenuItem @onclick="@(()=>NavigateToAuthorizedPage("/Administration/UserPge",20))">Utilisateurs</MudMenuItem>
                    <MudMenuItem @onclick="@(()=>NavigateToAuthorizedPage("/Administration/ProfilPge",20))">Profils</MudMenuItem>

                    
                </MudMenu>

                <MudSpacer/>
                <div style=" margin-right:10px; font-size:15px">
                    <LoginDisplay />
                </div>

            </MudAppBar>
            <MudMainContent>
                @Body
            </MudMainContent>
        </MudLayout>
    }
    else
    {
        <div>
            <br />
            <br />
            <br />
            <p id="Line1">
                Vous n'êtes pas autorisé à vous connecter à ce site !
            </p>
            <br />
            <div style="text-align:center">
                <img id="img" src="./css/Images/SensInterdit.png" height="300" />
            </div>
            <br />
            <p id="Line2">
                Contactez l'administrateur.
            </p>
        </div>
    }
</AuthorizeView>

